<div id="<%= dom_id source_page %>">
  <p>
    <strong>Name:</strong>
    <%= source_page.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= source_page.url %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= source_page.source_id %>
  </p>

</div>
