<%= render @source_page %>

<div>
  <%= link_to "Edit this source page", edit_source_page_path(@source_page) %> |
  <%= link_to "Back to source pages", source_pages_path %>

  <%= button_to "Destroy this source page", @source_page, method: :delete %>
</div>
