<div class="text-center">
  <h1 class="text-light"><%= @product.name %></h1>
  <p class="text-light col-2 mx-auto">
    <%= @product.description %>
  </p>
  <p class="text-light"><strong>Price:</strong><span class="text-primary"><%= " #{@product.price} EGP" %></span></p>

  <% unless @product.image_url.nil? %>
    <% image_urls = @product.image_url.split(',') %>
    <% image_urls.each_slice(3) do |image_slice| %>
      <div class="row d-flex justify-content-center">
        <% image_slice.each do |image_url| %>
          <div>
            <%= image_tag(image_url.strip, class: "img-fluid rounded", style: "width: 300px; height: 300px; object-fit: cover; margin: 4px;", loading: "lazy") %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>