<h1 class="text-light">Editing product</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Show this product", @product, class: "btn btn-outline-primary" %> |
  <%= link_to "Back to products", products_path, class: "btn btn-outline-light" %>
</div>
