<%= render 'product' %>
<br>
<div class="text-center">

    <%= link_to 'Edit this product', edit_product_path(@product), class: 'btn btn-outline-success' %>
    <%= link_to 'Back to products', products_path, class: 'btn btn-outline-primary' %>
    <%= button_to "Delete this product", @product, method: :delete, class: 'btn btn-outline-danger col-2', style: "margin: 10px;" %>
</div>